.select {
  height: 40px !important;
}
.input {
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  padding: 10px;
  width: 100%;
  height: initial !important;
}
