@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #3399ee;
  --white: #ffffff;
  --black: #000000;
  --blue: #165076;
  --lightBlue: #3399ee;
  --gray: #9b9b9b;
  --lightGray: #6d6d6d;
  --textColor: #01355b;
  --yellow: #ffb736;
  --overlayColor: #e5e5e5;
  --green: #8edb7b;
  --red: #ff6868;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.App {
  background: #0e1217;
  font-family: "Roboto", sans-serif;
  background: url("/assets/images/bg.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 2;
}

.App::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.color-purple {
  color: #ce3df3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#root {
  width: 100%;
}
